body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/************ Styles for scrollbar************/
#scrollable1,
#scrollable2{
    height: 420px;
    overflow-y: auto;
}
#scrollable1::-webkit-scrollbar,
#scrollable2::-webkit-scrollbar {
    width: 12px;
}
#scrollable1::-webkit-scrollbar-track,
#scrollable2::-webkit-scrollbar-track{
    background: rgb(90, 89, 89); 
    margin-left: 10px;
    z-index: 999;
}
#scrollable1::-webkit-scrollbar-thumb,
#scrollable2::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 15px;
    border: 2px solid rgb(90, 89, 89);
}
#scrollable1::-webkit-scrollbar-thumb:hover, 
#scrollable2::-webkit-scrollbar-thumb:hover{
    background: #fff; 
}

/************Styles for file upload input field************/
input[type="file"]
{
  display: none;
}

input[type = file]::-webkit-file-upload-button {
    visibility: hidden;
}
 input[type='file']::placeholder {
    color:rgb(133,130,130);
    opacity: 1;
}
.file-upload{
    padding-top: 16px;
    padding-bottom: 5px;
    border: 2px solid #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.file-upload input{
    border: none;
    padding: 0px 26px 5px 0px !important;
    font-size: 18px;
}
.file-upload input:focus{
    box-shadow: none;
    border: none;
}
.file-upload label{
    cursor: pointer;
    font-size: 28px;
    color: #646566;
}
.file-upload svg{
    margin-left: 10px;
}
